body {
	margin: 0;
	padding: 0;
	height: 100vh;
    background-color:rgb(235, 235, 235);

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0c8ee4;
    height: 30px;
  }
 
  .logo img {
    height: 50px;
    width: auto;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    padding-right: 500px;
    
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #e7e7e7;
    font-weight: bold;
    transition: 0.5s;
  }
  .nav-links a:hover{
    color:#a3a3a3;
    transform: scale(1);
  }
  


#map {
    position: relative;
    left: 337px;
	height: 100%;
    width: 75%;
    


}

.map-vote {
    display: block;
    position: relative;
    bottom: 400px;
    padding-left: 100px;
    
  }
  
 .ph{
    position: relative;
    right: 65px;
    font-size: 18px;
  }
  
  .map-vote button {
    display: block;
    background-color: #0c8ee4;
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid rgb(255, 255, 255);
    transition: 2s;
  }
  .map-vote button:hover{
    background-color: #73c3f8;
transform: scale(1.2);
  }

  .img{
    padding: 100px;
  }
  
